@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf');
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') ;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Alex_Brush';
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.ttf') ;
    font-style: normal;
    font-display: swap;
  }