footer {


    button {
        background-color: #9D0000;
        color: #FFFFFF;
        width: 188px;
        height: 33px;
        border: none;
        font-family: "Inter";
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 50px;
    }
}
.footer-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    .sub h1{
    font-family: "Inter";
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #ffffff;
    margin-bottom: 19px;
    }
    .sub {
        margin-left: 55px;
        margin-top: 31px;
        margin-bottom: 30px;
        margin-right: 24px;

    }
    .sub-mail
input {
    width: 396px;
    height: 36px;
    margin-bottom: 24px;
    margin-right: 25px;
}

p {
    color: #858585;
    font-weight: 700;
    font-size: 9px;
    font-family: "Roboto";
    letter-spacing: 3px;
    margin-bottom: 9px;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 4%);
}

.sub-image {
 width: 1994px;
 height: 285px;

}
.image-slice {
    width: 794px;
    height: 285px;
    object-fit: cover;
    object-position: center;
}
.sub-socials {
    display: flex;
    justify-content: flex-start;
    column-gap: 80px;
}
}
.footer-bottom {
    padding-left: 59px;
    color: #FFFFFF;
    display: flex; 
    background-color: #1B1918; 
    flex-direction: row;
    column-gap: 79px;
    padding-bottom: 40px;
    padding-top: 67px;
    .shop-firts1 {
        margin-right: 210px;
        h6 {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 12px;
            margin-bottom: 19px;
        }
        ul li {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 7px;
        }

    }

    .shop-firts {
        
        h6 {
            font-family: 'Inter';
            font-weight: 700;
            font-size: 12px;
            margin-bottom: 19px;
        }
        ul li {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 7px;
        }

    }
}
.footer-li {
    padding-left: 59px;
    background-color: #1B1918;
    display: flex;
    justify-content: flex-start;
    column-gap: 247px;
    span{
        font-family: 'Inter';
        font-weight: 500;
        font-size: 12px;  
        color: #FFFFFF; 
        margin-bottom: 22px;
    }
}